<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal text-uppercase font-weight-bold text-primary logo" (click)="onClickMe()">khammamguru</h5>
    <a class="btn btn-outline-primary mx-2" [routerLink]="['/register']" routerLinkActive="active"><fa name="user-plus"></fa>&nbsp;Register</a>
    <a class="btn btn-outline-primary mx-2" [routerLink]="['/login']" routerLinkActive="active"><fa name="sign-in"></fa>&nbsp;Log In</a>
  </div>
</header>
